* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */
:root {
  --black-steel: #2f3640;
  --black-steel-light: #353b48;
  --gray-cold: #718093;
  --gray-light: #dcdde1;
  --primary: #4cd137;
  --primary-hover: ##44bd32;
  --selected: ##487eb0;
}

.cover {
    background-image: url(../img/rony_pic-gray.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/*   TEXT STYLES */

main h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--black-steel);
}

main h2{
    font-family: 'Open Sans', sans-serif;;
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--black-steel-light);
}

main p{
    font-family: 'Poppins', sans-serif;;
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--gray-cold);
}

main ul{
    list-style: none;
    display: flex;
    overflow-x: scroll;
}

main ul li{
    font-family: 'Open Sans', sans-serif;;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--black-steel);
    padding: 0.6rem;
    margin-right: 0.6rem;
    border: 1px solid var(--gray-light);
    border-radius: 1.5rem;    
}

section h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--black-steel);
}

section p{
    font-family: 'Open Sans', sans-serif;;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--black-steel-light);
}

section ul{
    font-family: 'Open Sans', sans-serif;;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--black-steel-light);
}



/* MOBILE FIRST*/
@media (max-width: 360px){

.cover {
  height: 33vh;
  width: 100vw;
}

#infoContainer {
  height: 67vh;
  padding: 1rem;
}

}