* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --card-bg: #cb1e41bd;
    --shadow: 2px 5px 5px darkgray;
    --white: whitesmoke;
    --border-gray: 2px solid darkgray;
  }

h1 {
    color: crimson;
}

p{
    color: dimgrey;
}