* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

:root {
  --black-steel: #2f3640;
  --black-steel-light: #353b48;
  --gray-cold: #718093;
  --gray-light: #dcdde1;
  --lighther: #f5f6fa;
  --primary: #4cd137;
  --primary-hover: #44bd32;
  --blue-selected: #487eb0;
}

body {
  background-color: var(--gray-light);
  z-index: 0;
}

#site {
  width: auto;
  height: auto;
  background-color: white;
}

.cover {
  background-color: var(--black-steel-light);
}

.cover #photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.gridCards{
  margin-top: 1rem;
  padding-bottom: 4rem;
  display: grid;
  column-gap: 12px;
  row-gap: 16px;
  grid-template: '1 2';
  grid-template-columns: 47%;
}

.gridCards .gridArticles{
  height: 200px;
  border: 1px solid var(--gray-light);
  border-radius: 8px;
}
.gridImage{
  height: 90px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.gridImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.gridStack{
  margin-top: 1rem;
  padding-bottom: 4rem;
  display: grid;
  row-gap: 12px;
  grid-template: '1';
}
.stacks{
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  height: 76px;
  border: 1px solid var(--gray-light);
  border-radius: 8px;
}

.stackImg{
  width: 76px;
  height: 74px;
  border-radius: 8px;
}
.stackImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/*   TEXT STYLES */

main h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--black-steel);
}

main h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--black-steel-light);
}

main p {
  margin-top: 0.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--gray-cold);
  text-align: center;
}

main ul {
  margin-top: 0.6rem;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

main ul::-webkit-scrollbar {
  display: none; /* Chrome */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

main ul li {
  white-space: nowrap; /* Thank you StackOverflow */
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--black-steel);
  padding: 0.6rem;
  margin-right: 0.3rem;
  border: 1px solid var(--gray-light);
  border-radius: 2rem;
  cursor: pointer;
}

.selected {
  border: 2px solid var(--blue-selected);
  color: var(--blue-selected);
  background-color: var(--lighther);
}

section {
  margin-top: 1rem;
}

section h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: var(--black-steel);
}

section p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--black-steel-light);
}

section ul {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--black-steel-light);
  list-style: none;
}

section ul li:before {
  content: "●";
  font-size: 80%;
  padding-right: 0.2rem;
}

.gridTexts{
  padding: 0.5rem;
}

.gridTitle{
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--black-steel-light);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gridParagraph{
  margin-top: 2px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--black-steel-light);
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stackTexts{
  margin-left: 0.5rem;
  padding: 0.3rem;
  width: 70%;
}

.stackTitle{
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--black-steel-light);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stackParagraph{
  margin-top: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--black-steel-light);
}
.stackParagraph strong{
  font-weight: 700;
  color: var(--blue-selected);
}